
BO_BusinessManagement/obj/Debug/*
BO_BusinessManagement/bin/Debug/*
Bll_Business/bin/Debug/
Bll_Business/obj/Debug/
Dao_BussinessManagement/bin/Debug/
Dao_BussinessManagement/obj/Debug/
IBusiness/bin/Debug/
IBusiness/obj/Debug/
IDaoBusiness/bin/Debug/
IDaoBusiness/obj/Debug/
InstancesBll/bin/Debug/
InstancesBll/obj/Debug/
Project_BusinessManagement/Bin/.
Project_BusinessManagement/obj/Debug/.