
BO_BusinessManagement/obj/Debug/BO_BusinessManagement.csprojResolveAssemblyReference.cache
Project_BusinessManagement/bin/Project_BusinessManagement.pdb
Project_BusinessManagement/obj/Debug/Project_BusinessManagement.pdb
*.dll
Project_BusinessManagement/bin/Bll_Business.pdb
Project_BusinessManagement/Bin/Project_BusinessManagement.dll
Project_BusinessManagement/bin/.
Project_BusinessManagement/obj/.
BO_BusinessManagement/obj/
BO_BusinessManagement/bin/
BO_BusinessManagement/bin/Debug/
BO_BusinessManagement/obj/Debug/
Bll_Business/bin/Debug/
Bll_Business/obj/Debug/
Dao_BussinessManagement/bin/Debug/
Dao_BussinessManagement/obj/Debug/
IBusiness/bin/Debug/
IBusiness/obj/Debug/
IDaoBusiness/bin/Debug/
IDaoBusiness/obj/Debug/
InstancesBll/bin/Debug/
InstancesBll/obj/Debug/
Project_BusinessManagement/Bin/.
Project_BusinessManagement/obj/Debug/.