
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout2.cshtml";
}

<h2>DashBoard</h2>
<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-6">
            <img src="@Url.Action("ProductSellToday")" />
        </div>
        <div class="col-md-6">
            <img src="@Url.Action("ProductSellTodayLine")" />
        </div>
    </div>
</div>



