
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Acerca De Nosotros</h2>

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Nosotros Somos La Empresa Gestion Digital. <span class="text-muted">La herramienta del futuro de su negocio</span></h2>
        <p class="lead">Vamos a crear microempresas con alta tecnologia, ademas de procesos sistematizados.</p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="~/Images/Publish/About.jpg" data-holder-rendered="true">
    </div>
</div>